<section class="todoapp">
  <header class="header">
  <h1>Signup!</h1><br><br>
    <%= form_for(@user) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'new-todo', placeholder: "Enter your email address" %>
      <%= f.label :password %>
      <%= f.text_field :password, class: 'new-todo', placeholder: "Choose a password" %>
      <%= f.submit %>
    <% end %>
  </header>

  <footer class="footer">
  </footer>
</section>
